@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.container {
  margin: auto;
  min-width: 500px;
  max-width: 1000px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 30px;
}

/*********************** NAVBAR ********************/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

header a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: 1px solid gray;
  margin: 10px;
  border-radius: 5px;
}

header a:hover {
  background-color: rgb(221, 219, 219);
  border: none;
}

/******************* SOCIAL MEDIA ICONS ****************/
.social-container {
  margin-top: 10px;
}

.social-icon {
  width: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.social-icon:hover {
  transform: scale(1.2);
}

.email-container {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  opacity: 0.5;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  transition: opacity 0.3s;
  font-size: 12px;
  top: 100%;
  left: -50%;
  line-height: 150%;
}

.email-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/******************** CONTENT *******************/
.content {
  width: 100%;
  margin-top: 50px;
}

/******************** SECION *******************/
section {
  margin-top: 60px;
  display: flex;
  scroll-margin-top: 80px;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  color: gray;
  border-left: 3px gray solid;
  padding-left: 5px;
}

/******************** PROJECTS *******************/
.project-container {
  display: flex;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 5px;
  margin-left: 80px;
  margin-bottom: 20px;
  position: relative;
}

.project-img {
  height: 160px;
  width: 160px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  object-fit: cover;
  cursor: pointer;
}

.project-detail {
  padding: 10px;
}

.project-name {
  font-weight: bold;
}

.project-tech-stack {
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}

.project-desc {
}

.project-links-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.js-games-container {
  margin-top: 20px;
}

.js-game {
  display: flex;
  padding: 5px;
}

.js-game-name {
  font-weight: bold;
  width: 60px;
}

/*********************** LEARNINGS ********************/
#learnings {
  margin-top: 100px;
}

.learning-container {
  margin-left: 60px;
  margin-bottom: 50px;
}

.learning-title {
  font-weight: bold;
}

.learning-info {
  display: flex;
}

.learning-info .link-container {
  margin-left: 10px;
}

.learning-desc {
  padding-top: 10px;
}

/*********************** MODAL ********************/
#modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 70px 50px 50px 50px;
}

#modal img {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  max-width: 100%;
  height: auto;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#close {
  position: fixed;
  top: 15px;
  right: 50px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#close:hover {
  transform: scale(1.5);
}

/*********************** OTHER ********************/
.hide {
  display: none;
}

.project-link {
  text-decoration: none;
  background-color: white;
  color: gray;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

.project-link:hover {
  background-color: rgb(221, 219, 219);
  border: none;
  color: black;
}

.smile-symbol {
  font-weight: bold;
}

/*********************** MEDIA QUERY ********************/

@media (max-width: 800px) {
  section {
    flex-direction: column;
  }

  .project-container {
    margin-left: 0;
  }

  .learning-container {
    margin-left: 0;
  }
}

@media (max-width: 550px) {
  .project-container {
    flex-direction: column;
    margin-left: 0;
  }

  .project-links-container {
    position: relative;
    margin-top: 20px;
  }

  .learning-container {
    margin-left: 0;
  }

  .project-img {
    height: 100%;
    width: 100%;
    max-height: 400px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
  }

  .project-name {
    margin-top: 20px;
  }
}
